header{
    background: linear-gradient(rgb(113, 18, 201) , rgb(132, 40, 219));

    background-color:rgb(132, 40, 219) ;
}
.container{
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}
.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoContainer{
    width: 130px;
    padding: .3em 0 1em;
    color: #fff;
    font-style: italic;
    font-size: 1.3rem;
}
.list{
    display: flex;
}
.listItem{
    margin-left: 2em;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}
.active{
    color: #007bff;
    color: rgb(24, 167, 223);
}
@media screen and (max-width:768px) {
    html{
        font-size: 13px;
    }
    .listItem{
        margin-left: 0;
        margin-top: .2em;
    }
    .list{
        text-align: center;
    }
    .container-flex{
        flex-direction: column;
    }
    .logoContainer{
        text-align: center;
        padding: .3em 0;

    }
    .free-trial{
        padding: 1.5em 0 2em;
    }
}
@media screen and (max-width:400px) {
    html{
        font-size: 13px;
    }
    .list{
        flex-direction: column;
    }
    .logoContainer{
        width: 150px;
    }
}